.sidebar {
  width: 250px;
  background-color: #323331;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(255, 255, 255);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
  font-size: 20px;
}

.sidebarListItem {
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 25px;
  height: 5vh;
  font-size: 18px;
}

.sidebarListItem.active{
  background-color: rgb(240, 240, 255);
  color: #323331;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 25px;
    color: #4BA095;
}

.sidebarlogIcon{
  margin-right: 5px;
    font-size: 25px;
    margin-top: 200px;
}

