
.widget {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    width: 150px;
    margin: 0px 20px;
    padding: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .widgetContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .widgetMoney{
      font-size: 30px;
      font-weight: 600;
  }

  
  .widgetIcon{
      font-size: 27px;
      margin-left: 5px;
      color: #4BA095;
      margin-bottom: 7px;
  }
    
  .widgetRate{
    align-items: center;
    margin-left: 5px;
    font-size: 17px;
    margin-bottom: 15px;
    color: #323331;
   
}

  .widgetSub{
      font-size: 20px;
      color: #3c3e3a;
      margin-left: 5px;
      font-weight: bold;
      margin-top: 5px;
  }

  .welcome{
  /* text-align: center; */
  padding-top: 10px;
  padding-left: 15px;
  color: #323331;
  font-size: 25px;
  }

  .button{
    border: none;
      color: #ffffff;  
      padding: 6px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
     margin-top: 20px;
      cursor: pointer;
      background-color:#323331;
      margin-left: 7px;
      letter-spacing: 3px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
      

    }
.button:hover{
  color: #F3BB3E;
background-color: #ffffff;
}
   .progress{
    width: 170px;
    margin-left: 50px;
    margin-top: 20px;
   }