
.navbar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbarMain{
    height: 100%;
    padding: 0 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.right{
display: flex;
}

.right .bellIconContainer{
    margin-right: 10px;
    margin-top: 10px;

}
.right .profileIconContainer{
   font-size: 35px;
   color: #F3BB3E;
   margin-top: 10px;
}

input{
    outline: none;
  width: 300px;
  height: 4.2vh;
}



hr{
    height: 0;
    border: 0.5px solid lightgray;
    margin-top: 180px;
}

.name{
    font-size: 20px;
    color: #323331;
}

.logo{
    width: 70px;
    height: 70px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.submit{
border: none;
  color: #ffffff;  
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4BA095;
}